.exContainer{
    max-width: 1000px;
}
.exImage{
    width: 500px;
    height: 500px;
}
.carousel{
    width: 600px;
}

/* .sr-only, .carousel-control-next-icon{
    color: black;
} */
.carousel-control-prev, .carousel-control-next{
    background-color: #EA8E17 !important;
}

@media only screen and (max-width: 600px) {
    .exImage{
        width: 350px;
        height: 350px;
    }
    .carousel{
        width: 350px;
    }
}