body{
  font-family: 'Roboto';
}
a{
  color: black;
  font-weight: 500;
}
.background-dark{
  background-color: #D8D8D8;
}


.theme-btn {
  color: white;
  border-radius: 70px;
  background: #EA8E17;
  padding: 10px 25px;
}

.theme-btn:hover{
  background: #D8D8D8;
}

.secndry-btn {
  
  border-radius: 10px;
  background: #EA8E17;
  padding: 10px 25px;
}

.secndry-btn:hover{
  background: #D8D8D8;
}

.alt-btn {
  font-weight: 500;
  color: black;
  border-radius: 10px;
  border: solid 1px;
  border-color:#545454;
  background: #00000000;
  padding: 10px 25px;
}

.alt-btn:hover{
  background: #EA8E17;
  color: white;
}
.feather {
    width: 35px;
    height: 35px;
    stroke: currentColor;
    stroke-width: 1;
    /* stroke-linecap: round; */
    /* stroke-linejoin: round; */
    fill: none;
}
.process-title{
  font-size: 20px;
  font-weight: bold;
}
.process-subtitle{
  color: gray;
  font-size: 15px;
}
.expect {
  padding-left: 50px;;
  padding-bottom: 20px;
}
.rounded-image {
  border-radius: 20px;
}
.ehead{
  padding-left: 40px;
  font-size: 40px;
  font-weight: bold;
}
.edesc{
  padding-left: 40px;
}