body{
  font-family: 'Roboto';
}
a{
  color: black;
  font-weight: 500;
}
.background-dark{
  background-color: #D8D8D8;
}

.header{
  background-color: white;
}

.theme-btn {
  color: white;
  border-radius: 70px;
  background: #EA8E17;
  padding: 10px 25px;
}

.theme-btn:hover{
  background: #D8D8D8;
}

.secndry-btn {
  
  border-radius: 10px;
  background: #EA8E17;
  padding: 10px 25px;
}

.secndry-btn:hover{
  background: #D8D8D8;
}

.alt-btn {
  font-weight: 500;
  color: black;
  border-radius: 10px;
  border: solid 1px;
  border-color:#545454;
  background: #00000000;
  padding: 10px 25px;
}

.alt-btn:hover{
  background: #EA8E17;
  color: white;
}
.feather {
    width: 35px;
    height: 35px;
    stroke: currentColor;
    stroke-width: 1;
    /* stroke-linecap: round; */
    /* stroke-linejoin: round; */
    fill: none;
}
.process-title{
  font-size: 20px;
  font-weight: bold;
}
.process-subtitle{
  color: gray;
  font-size: 15px;
}
.expect {
  padding-left: 50px;;
  padding-bottom: 20px;
}
.rounded-image {
  border-radius: 20px;
}
.ehead{
  padding-left: 40px;
  font-size: 40px;
  font-weight: bold;
}
.edesc{
  padding-left: 40px;
}

body::-webkit-scrollbar{
  width: 0.5rem;
}

body::-webkit-scrollbar-track{
  background: #EA8E17;
} 

body::-webkit-scrollbar-thumb{
  background: #865515;
} 



ul{
  list-style-type: none;

}

a{
  text-decoration: none;
  position: relative;
  color: #865515;
  font-size: 14px;
  display: table;
  width: 300px;
  padding: 10px;


}

li{
  position: relative;
  padding: 10px;
  right: 20px;
}


.sidenav{
  outline: none;
  border: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  position: fixed;
  top: 92px;
  


  height: 0%;
  left: 0%;
  background: #fff;
  width: 200px;
  overflow: hidden;
  transition: width 0.2s linear;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1) ;

}


.sidenav i {
  position: relative;
  width: 70px;
  height: 40px;
  top: 14px;
  font-size: 20px;
  text-align: center;
}

.nav-item{
  position: relative;
  padding: 20px;
  top: 2px;
}


a:hover{
  background: #eee;
  color: #EA8E17;
}

.sidenav:hover{
  width: 200px;
  transition: all 0.5s ease;
}



.log-in{
  position: relative;;
  top:100px ;
}






