@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400&display=swap');


body{
    width: 100%;
    background-color: #D8D8D8;
}


body::-webkit-scrollbar{
    width: 0.5rem;
  }
  
  body::-webkit-scrollbar-track{
    background: #EA8E17;
  } 
  
  body::-webkit-scrollbar-thumb{
    background: #865515;
  } 

/* .container{
    display: grid;
    height: 100vh;
    grid-template-rows: 10% auto 40%;
} */

.heading{
    background-color: #83633a;
    min-height: 200px;
    width: 100%;
}



.heading h1{
    color: #EA8E17;
    font-family: 'outfit', sans-serif;
    font-size: 3rem;
}

.heading h3{
    color: #614520;
    font-size: 1.8rem;
    font-family: 'outfit', sans-serif;
}


.ingredient h2{
    font-family: 'outfit', sans-serif;
}
.ingredient{
    min-height: 500px;
}


