body {
    background-color: #000;
    background-image: linear-gradient(45deg, orange, #ebe9e9);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
  }
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.animated-background {
    position: relative;
    overflow: hidden;
    background:transparent;
    height: 300px;
    width: 400px;
    margin-bottom: 50px;
    margin-left: 50px;
  }
  
  .oops-image {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('noMeals.png');
    background-size: contain;
    width: 200px;
    height: 200px;
    animation: animatedBackground 30s ease infinite;
  }
  
  @keyframes animatedBackground {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  h1 {
    font-size: 36px;
    font-weight: 700;
    color: #FF0000;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
  }
  
  p {
    font-size: 24px;
    color: #555555;
    text-align: center;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
  }
  