.form-wrap input{
    width: 100%;
    height: 50px;
    border: solid 1px;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 20px;
    border-color:#545454;
    background-color: #00000000;
}

.formMainWrap{
    width: 450px
}

.alt-btn img{
    margin-right: 90px;
}
.login_link{
    text-decoration: none;
    color: #EA8E17;
}
.signin-btns{
    font-weight: bold;
}

